<!DOCTYPE html>
<html lang="en">
	<base href="/" />
	<title> XMPP Messanger </title>
	<head>
		<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/style.css" rel="stylesheet">
		<script src="/angular/angular.js"></script>
    	<script src="/angular-ui-router/release/angular-ui-router.js"></script>
	</head>
	<body ng-app="CTLApp">
	<center><h1>XMPP Messanger</h1></center>
		<div id="main" ui-view></div>
		<script src="/index.js"></script>
	</body>
</html>